.header {
  border-bottom: 0.5px solid #F2F2F2,;
  margin-bottom: 1rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: #999999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nav-item:hover {
  color:#666666
}

.logo {
  width: 200px;
}

.cart {
  width: 50px;
}
